<div class="fixed-wrapper">
  <div id="slider1">
    <div class="corner2"></div>
    <h1>Upcoming Volunteer Opportunities</h1>
    <a href="#" class="buttons prev">&lt;</a>
    <div class="viewport">
      <ul class="overview">
        <li><img src="/assets/defaultGigSlideSettings.png"><a href="#"><button>Edit</button></a><br>
          <h2>Gig Name</h2>
          <h3>Date of Gig</h3>
          <h4>Type of Gig</h4></li>
        <li><img src="/assets/defaultGigSlideSettings.png"><a href="#"><button>Edit</button></a><br>
          <h2>Gig Name</h2>
          <h3>Date of Gig</h3>
          <h4>Type of Gig</h4></li>
        <li><img src="/assets/defaultGigSlideSettings.png"><a href="#"><button>Edit</button></a><br>
          <h2>Gig Name</h2>
          <h3>Date of Gig</h3>
          <h4>Type of Gig</h4></li>
        <li><img src="/assets/defaultGigSlideSettings.png"><a href="#"><button>Edit</button></a><br>
          <h2>Gig Name</h2>
          <h3>Date of Gig</h3>
          <h4>Type of Gig</h4></li>
        <li><img src="/assets/defaultGigSlideSettings.png"><a href="#"><button>Edit</button></a><br>
          <h2>Gig Name</h2>
          <h3>Date of Gig</h3>
          <h4>Type of Gig</h4></li>
      </ul>
    </div>
    <a href="#" class="buttons next">&gt;</a>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function()
	{
		$('#slider1').tinycarousel();
	});
</script>