<header id="top-container">
  <div class="fixed-wrapper">
    <div class="logo"><%= image_tag('logo.png', alt: '') %></div>
    <div class="header-search">
      <form action="" method="get">
        <div class="hd-search-box">
          <input name="" type="text">
          <button class="search-icon"></button>
        </div>
        <span class="inspire-text">Inspire the world with good.</span>
      </form>
    </div>
    <% if user_signed_in? %>
      <div class="loged-rgt">
        <div class="after-login-icon">
          <ul>
            <li><a href="#"><img src="/assets/date-icon.png" alt=""></a></li>
            <li>
              <%#= link_to image_tag('setting-icon.png', alt: ''), :controller => 'registrations', :action => 'profile_settings' %>
              <a href="#"><img src="/assets/setting-icon.png" alt=""></a>
            </li>
            <li><a href="#"><img src="/assets/email-icon.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/add-icon.png" alt=""></a></li>
          </ul>
        </div>
        <div class="loged-user">
          <img src="/assets/after-user-img.jpg" alt="">
          <span>Jameson</span>
        </div>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'after-login-icon' %>
      </div>
    <% else %>
      <!--After login right section-->
      <div class="header-rgt-btn">
        <!--<a href="#"><small>CHECK</small> <strong>NEW</strong> <small class="event-pos">EVENTS</small></a>-->
        <%= link_to raw("<small>CHECK</small><br /><strong>NEW</strong><br /><strong>GIGS</strong>"), event_list_path, data: {fancybox_width: 850}, class: 'fancybox btn btn-success', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
        <!--<a href="#" class="join-today"><strong>JOIN</strong> <small>TODAY</small></a> </div>-->
        <%= link_to raw("<strong>JOIN</strong><br /><small>TODAY</small>"), new_user_registration_path, data: { fancybox_width: 600, autoSize: false }, class: 'fancybox btn btn-success join-today', onclick: 'if(isMobile.any()){$("body").addClass("no-scroll");}' %>
          <!--ends here-->
        <% end %>
      </div>
  </div>
</header>