<div id ="calendar_page">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.strftime('%e') %>
		<% if events.present? %>
    <% events.each do |event| %>
      <span>*</span>
    <% end %>
		<% end %>
  <% end %>
</div>
<%#= month_calendar events: @events do |date, events| %>
<%#= date.strftime('%e') %>
<%# end %>
<%# events.each do |event| %>
<!--<span>*</span>-->
<%# end %>
<style>
	.current-month{
		height: 75px;
		width: 77px;
	}
</style>
