<div class="register-popup">
  <div id="foundations">
    <div class="corner"></div>
    <h1>Search Results</h1><br/>
    <div class="volBox search-result">
      <%= render 'search_event_result' %>
    </div>
  </div>
</div>