<!--Register Popup starts here-->
<div class="register-popup">
  <div class="close"><a href="#">X</a></div>
  <div id="foundations">
    <div class="corner"></div>
    <h1>My Foundations</h1><br/>
    <div class="volBox">
      <div class="supporters">
        <img src="/assets/noImg.jpg"/><h2>My Foundation</h2>
      </div>
      <div class="supporters">
        <img src="/assets/noImg.jpg"/><h2>My Foundation</h2>
      </div>
      <div class="supporters">
        <img src="/assets/noImg.jpg"/><h2>My Foundation</h2>
      </div>
    </div>

  </div>

  <!--ends here-->