<% @email_message_with_parent.each do |parent_message|%>
  <h3><% if parent_message.message.present? %><b><%=parent_message.user.full_name %></b>: <%= parent_message.message %><% end %></h3>
<% end %>