$(".messCont").append("<h3><b><%=@message.user.full_name %></b>:<%=@message.message %></h3>");
//$(".messCont1").append("<h3><b><%#=@message.user.full_name %></b>:<%#=@message.message %></h3>");
$("#message").val("");